services:
  # 1. Your Application
  api:
    build: .
    ports:
      - "7000:7000"  
    env_file:
      - .env
    environment:
      # NETWORKING OVERRIDES
      - REDIS_HOST=redis
      - MONGODB_URI=mongodb://mongo:27017/mfa-auth
      - PORT=7000
    depends_on:
      - redis
      - mongo

  # 2. Redis Container
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  # 3. MongoDB Container
  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
